
.banner-quick {
    height: 30rem;
    background: url(/content/images/talImg.png) no-repeat;
    background-size: 100%;
    background-position: 100% 45%;

    img {
        width: 90px;
    }

    .col-xs-4 {
        span {
            display: block;
            color: #f2f1f1;
            font-size: 2rem;
            line-height:3rem;

            &.font-bold {
                font-size: 5rem;
            }
            &:first-of-type{
                margin-top:1rem;
            }
        }

        &:nth-of-type(2){
            img{
                width:50px;
            }
            
        }
    }

    .col-xl-6 {
        margin-top: 9rem;
    }
}


/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1900px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}
