home-how-does-it-works h2 {
  font-size: 9rem;
  margin: 4rem; }

home-how-does-it-works .how {
  background: url(../../../content/images/bgDottes.png) no-repeat;
  background-size: 100% 100%;
  padding-top: 2rem;
  height: 51rem; }
  home-how-does-it-works .how ul {
    list-style: none;
    margin: auto 0; }
    home-how-does-it-works .how ul li {
      font-size: 3rem;
      display: inline-block; }
      home-how-does-it-works .how ul li:not(:last-child):after {
        content: "";
        background: url(../../../content/images/leftArrow.png) no-repeat;
        display: inline-block;
        position: relative;
        width: 16px;
        height: 40px;
        background-size: 100% 100%;
        margin: 0 3rem;
        top: 1rem; }
  home-how-does-it-works .how h3 {
    color: #edebeb;
    font-size: 12rem;
    margin-top: 0; }
  home-how-does-it-works .how .path_120, home-how-does-it-works .how .path_rating {
    background: url(../../../content/images/pathFast.png) no-repeat;
    height: 17rem;
    background-size: 100% 100%;
    padding-top: 8.2rem; }
    home-how-does-it-works .how .path_120 h4, home-how-does-it-works .how .path_rating h4 {
      font-size: 2.5rem; }
    home-how-does-it-works .how .path_120 p, home-how-does-it-works .how .path_rating p {
      font-size: 2rem; }
  home-how-does-it-works .how .path_rating {
    background: url(../../../content/images/pathReview.png) no-repeat;
    background-size: 100% 100%; }

