<section  class="order container-fluid" id="order">
    <div class="row clearfix">
        <div class="col-xs-10 center-block">
            <h1>הזמנה <small>120 דקות ובעל המקצוע אצלך</small></h1>
        </div>
    </div>
    
    <div class="row clearfix">
        <div class="col-xs-10 center-block">
            <form>
                <div class="row">
                    <div class="col-xs-12">

                        <div class="row form-group">
                            <label>שם מלא</label>
                            <input type="text" class="form-control" ng-model="models.order.fullName">
                        </div>

                        <div class="row form-group">
                            <label>דואר אלקטרוני</label>
                            <input type="text" class="form-control" ng-model="models.order.email">
                        </div>

                        <div class="row form-group">
                            <label>טלפון</label>
                            <input type="text" class="form-control" ng-model="models.order.phone">
                        </div>

                        <div class="row form-group">
                            <label>כתובת</label>
                            <input type="text" class="form-control" ng-model="models.order.address">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-10 center-block">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="functions.sendOrder()">ביצוע הזמנה</button>
        </div>
    </div>
</section>

