.big-banner {
  height: 81rem;
  background: url("../../content/images/talImg.png") no-repeat;
  background-size: 100%; }
  .big-banner h1 {
    font-size: 7rem;
    line-height: 92px;
    color: rgba(255, 255, 255, 0.69);
    margin: 7rem 7rem 6rem 0; }
  .big-banner .fast, .big-banner .rating {
    background-size: contain !important;
    height: 33rem;
    background-position: 100% !important; }
  .big-banner .fast {
    background: url("../../content/images/120.png") no-repeat;
    margin-right: 12rem; }
  .big-banner .rating {
    background: url("../../content/images/rating.png") no-repeat; }
  .big-banner .bottom-text {
    width: 60%;
    color: #fff;
    font-weight: bold;
    font-size: 2.3rem;
    text-align: center;
    margin: 17.5rem 2rem 0 0; }
  .big-banner span {
    display: block; }
    .big-banner span.how {
      color: #132b44;
      font-size: 2rem; }
  .big-banner .scroll-arrow {
    width: 50%;
    padding-top: 7rem; }

