
<img src="/content/images/businessAndoffice.jpg" class="page-img"/>
<article class="page-article">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-8 center-block">
                <h1>אב הבית – למשרדים ולעסקים</h1>
                <h2>כל בעלי המקצוע בפיקוח ואחריות בטלפון אחד</h2>
                <p>
                    כבר אין צורך לחפש בעלי מקצוע, להתווכח על המחיר ולשלם מיד.<br />
                    מהיום כבעל עסק, אינך צריך לעמוד מול קבלנים פרטיים ובעלי מקצוע.<br />
                    אב הבית' תטפל בכל תקלה ותיתן את מענה המהיר והאיכותי ביותר.<br />
                    'אב הבית' תיתן אחריות על כל עבודה.<br />
                    'אב הבית' תקצה איש קשר שיטפל באופן אישי בכל פניותיך<br />
                    טלפון אחד ל'אב הבית' ואנו נעשה עבורך את כל השאר:<br />
                    אינסטלטור, חשמלאי, קבלן שפוצים, הדברה, מנעולן, צבעי ועוד<br />
                    אנו מזמינים אתכם להצטרף למעגל הלקוחות המרוצים שלנו<br />
                </p>
                <h2>
                    למה זה כדאי לכם?
                </h2>
                <ul>
                    <li>'אב הבית' נותנת אחריות על כל עבודה </li>
                    <li>'אב הבית' מספקת את בעלי המקצוע המיומנים והמקצועיים ביותר</li>
                    <li>אתה והעסק שלך חוסכים זמן וכסף </li>
                    <li>השירות פועל 24 שעות ביממה </li>
                    <li>קשר עסקי מול גוף מוסמך אחד</li>
                    <li>תשלום שוטף + 30 כנגד חשבונית כחוק</li>
                    <li>מחיר ידוע מראש</li>
                    <li>אפשרות למנוי חודשי</li>
                </ul>
                <h3>השאירו פרטים ונציגנו יחזרו אליכם</h3>
                <form class="plan-form ">
                    <div class="form-group">
                        <label>שם מלא</label>
                        <input type="text" class="form-control" ng-model="models.form.fullName">
                    </div>

                    <div class="form-group">
                        <label>דואר אלקטרוני</label>
                        <input type="text" class="form-control" ng-model="models.form.email">
                    </div>

                    <div class="form-group">
                        <label>טלפון להתקשרות</label>
                        <input type="text" class="form-control" ng-model="models.form.phoneNumber">
                    </div>

                    <div class="form-group">
                        <label>כתובת</label>
                        <input type="text" class="form-control" ng-model="models.form.address">
                    </div>

                    <div class="form-group">
                        <label>זמן מועדף לחזרה</label>
                        <input type="time" class="form-control" ng-model="models.form.time">
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="שלח" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</article>