
<img src="/content/images/gravestone.jpg" class="page-img" />
<article class="page-article">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-8 center-block">
                <h1>אב הבית-שימור מצבות</h1>
                <h2>נותנים כבוד לזכרון</h2>
                <p>
                    לכל אחד יש מישהו יקר שהלך לעולמו.
                    אם אתם רוצים לטפח ולשמור את מקום מנוחתו
                    ואין לכם את הזמן והכוחות לעשות זאת
                    אנו נעשה זאת עבורכם
                </p>
                <p>
                    שיפוץ וחידוש מצבות<br />
                    ניקיון שטיפת מצבה<br />
                    פרחים<br />
                    נר זכרון<br />
                    מצבה חדשה<br />
                </p>
                <h3>השאירו פרטים ונציגנו יחזרו אליכם</h3>
                <form class="plan-form ">
                    <div class="form-group">
                        <label>שם מלא</label>
                        <input type="text" class="form-control" ng-model="models.form.fullName">
                    </div>

                    <div class="form-group">
                        <label>דואר אלקטרוני</label>
                        <input type="text" class="form-control" ng-model="models.form.email">
                    </div>

                    <div class="form-group">
                        <label>טלפון להתקשרות</label>
                        <input type="text" class="form-control" ng-model="models.form.phoneNumber">
                    </div>

                    <div class="form-group">
                        <label>כתובת</label>
                        <input type="text" class="form-control" ng-model="models.form.address">
                    </div>

                    <div class="form-group">
                        <label>זמן מועדף לחזרה</label>
                        <input type="time" class="form-control" ng-model="models.form.time">
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="שלח" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</article>