
<img src="/content/images/renovationBanner.png" class="page-img"/>
<article class="page-article">
    <div class="container">
        <div class="row clearfix">
            <div class="col-xs-8 center-block">
                <h1>אב הבית שיפוצים</h1>
                <h2>מלווים אותך לאורך כל הדרך</h2>
                <p>
                    נעזור לך להחליט איזה שיפוצניק הכי מתאים<br />
                    נדאג להסכם בינך לבין בעל המקצוע<br />
                    נדאג שתשלם לפי התקדמות השיפוץ<br />
                    תרצה ליווי אדריכלי, ניתן לך בחינם<br />
                    נלווה אותך בכל מהלך השיפוץ<br />
                    נדאג שבעל המקצוע יעמוד בזמנים וישמור על ניקיון הבית.<br />
                </p>
                <h3>השאירו פרטים ונציגנו יחזרו אליכם</h3>
                <form class="plan-form ">
                    <div class="form-group">
                        <label>שם מלא</label>
                        <input type="text" class="form-control" ng-model="models.form.fullName">
                    </div>

                    <div class="form-group">
                        <label>דואר אלקטרוני</label>
                        <input type="text" class="form-control" ng-model="models.form.email">
                    </div>

                    <div class="form-group">
                        <label>טלפון להתקשרות</label>
                        <input type="text" class="form-control" ng-model="models.form.phoneNumber">
                    </div>

                    <div class="form-group">
                        <label>כתובת</label>
                        <input type="text" class="form-control" ng-model="models.form.address">
                    </div>

                    <div class="form-group">
                        <label>זמן מועדף לחזרה</label>
                        <input type="time" class="form-control" ng-model="models.form.time">
                    </div>

                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="שלח" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    
</article>
