home-how-does-it-works {
    h2 {
        font-size: 9rem;
        margin: 4rem;
    }

    .how {
        background: url(/website/content/images/bgDottes.png) no-repeat;
        background-size: 100% 100%;
        padding-top: 2rem;
        height: 51rem;

        ul {
            list-style: none;
            margin: auto 0;

            li {
                font-size: 3rem;
                display: inline-block;

                &:not(:last-child):after {
                    content: "";
                    background: url(/website/content/images/leftArrow.png) no-repeat;
                    display: inline-block;
                    position: relative;
                    width: 16px;
                    height: 40px;
                    background-size: 100% 100%;
                    margin: 0 3rem;
                    top: 1rem;
                }
            }
        }

        h3 {
            color: #edebeb;
            font-size: 12rem;
            margin-top: 0;
        }

        .path_120, .path_rating {
            background-image: url(/website/content/images/pathFast.png);
            background-repeat: no-repeat;
            height: 17rem;
            background-size: 100% 100%;
            padding-top: 8.2rem;

            h4 {
                font-size: 2.5rem;
            }

            p {
                font-size: 2rem;
            }
        }

        .path_rating {
            background-image: url(/website/content/images/pathReview.png);
            background-size: 100% 100%;
        }
    }
}


/* Large desktops and laptops */
@media (min-width: 1200px) and (min-width:1600px) {
    home-how-does-it-works {
        .col-lg-1{
            img{

            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    home-how-does-it-works {
        .col-xs-1 {
            display: none;
        }

        .how {
            .path_120, .path_rating {
                background-size: contain;
                background-position: center;
            }
        }
    }
}
