
.home-app {
    background: url(../../../content/images/theProblemBG.png) no-repeat;
    height: 80rem;
    background-position: 100% 0;
    background-size: 100% 90%;
    padding-top:5%;

    h2 {
        color: #aeb2b3;
        font-size: 12rem;
        padding-right: 5%;
    }

    label {
        margin-top: 5%;
        font-size: 3rem;

        span {
            display:block;
        }
    }

    img {
        width: 100%;
    }
}
