
form {
    padding: 3rem 0;
    margin: 0 auto;

    input {
        background: url(/content/images/search.png) no-repeat;
        border: none;
        padding: 1.5rem;
        width: 100%;
        background-size: 100% 100%;
        color: rgb(41, 77, 82);
        font-size: 2rem;
        outline: none;

        &::-webkit-input-placeholder {
            color: rgb(41, 77, 82);
        }

        &:-moz-placeholder {
            color: rgb(41, 77, 82);
        }

        &::-moz-placeholder {
            color: rgb(41, 77, 82);
        }

        &:-ms-input-placeholder {
            color: rgb(41, 77, 82);
        }
    }

    .search-results {
        list-style: none !important;
        background: rgba(255,255,255,.3);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;

        li {
            display: block !important;
            font-size: 2rem !important;
            margin-bottom: 1rem;

            &:not(:last-child):after {
                content: '';
                display: none !important;
            }

            a {
                color: #337ab7;
                text-decoration: none;
            }
        }
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1900px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}
