
#rating-small-order {
    width: 12%;
    position: fixed;

    &.absolute {
        position: absolute;
        width: 16%;
        left: 0;
        top: 110rem;
    }

    &:hover {
        cursor: pointer;
    }
}

/* X-Large desktops and laptops */
@media (min-width:1600px) {
    #rating-small-order {
        left: 47.5rem;
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width:1600px) {
    #rating-small-order {
        left: 33.7rem;
    }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}
