
.home-app {
    background: url(/website/content/images/theProblemBG.png) no-repeat;
    height: 80rem;
    background-position: 100% 0;
    background-size: 100% 90%;
    padding-top:5%;

    h2 {
        color: #aeb2b3;
        font-size: 12rem;
        padding-right: 5%;
    }

    label {
        margin-top: 5%;
        font-size: 3rem;

        span {
            display:block;
        }
    }

    img {
        width: 100%;
    }
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    .home-app {
        h2 {
            padding-right: 0;
        }
    }

}
