
.member-reviews {
    .review {
        margin-top: 2rem;
        border-radius: 2rem;
        padding-top: 1%;

        &:last-of-type {
            margin-bottom: 1rem;
        }

        .about {
            .client-name {
                font-size: 1.8rem;
            }
        }

        .client-rating {
            label {
                font-weight: normal;
            }

            .member-info-sum {
                li {
                    width: 20%;
                    border-right: none;
                    margin-bottom:1rem;

                    &:first-child {
                        border-left: 2px solid #a29c9c;

                        label, span {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}




/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}
