
.services {
    background:url(/website/content/images/productBG.png) no-repeat 100% 100%;
    h2 {
        font-size: 9rem;
        color: rgb(115, 131, 172);
        margin: 4rem;
    }

    img{
        width:83%;
    }

    p{
        font-size:1.7rem;
    }
}

