
home-categories {
    padding-bottom: 3rem;

    h2 {
        font-size: 9rem;
        color: #ebe9e9;
        margin: 4rem;
    }

    .category {
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url(/content/images/caterogyGeneral.png);
        height: 10rem;
        width: 100%;
        margin-right: 3.5rem;
        margin-top: 3rem;

        h3 {
            /*padding-right: 3.5rem;*/
            font-size: 3rem;
            /*margin-top: 1rem;
            padding-top: 1rem;*/
            img {
                width: 40px;
                position: absolute;
                top: 1.3rem;
                right: 9rem;
            }

            label {
                position: absolute;
                top: 1.2rem;
                right: 15rem;
            }
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0 2rem;
            overflow: hidden;
            height: 90px;
            padding-top: 3rem;

            li {
                display: inline-block;

                &:not(.hidden-subcategory):not(:last-of-type) {
                    a {
                        margin-right: 0.7rem;

                        &:after {
                            content: ',';
                        }
                    }
                }
            }
        }
    }

    .all-categories {
        padding-top: 2rem;

        span {
            text-decoration: underline;
            font-size: 1.5rem;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .hide-all {
        display: none;
    }

    .show-all {
        display: inline-block;
    }
}


/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    home-categories {
        .category-holder {
            &:not(:first-child) {
                margin-top: 4rem;
            }

            .category {
                margin-right: 0;
            }
        }
    }
}
