
<section class="home-categories container-fluid" ng-init="functions.init();">
    <div class="row clearfix">
        <div class="col-xs-12">
            <h2 class="font-bold">סיווגים ותקלות:</h2>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xs-12 col-lg-11 col-md-11 col-sm-11">
            <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6 col-xl-4 category-holder" ng-repeat="category in models.categories track by $index" ng-class="{'hide-all': $index>11}">
                <div class="category" style="background-image: url(/content/images/cat/{{category.Image}}) ">
                    <h3 class="font-bold"><a ui-sref="website.rating.memberByCategory({categorySlug:'{{category.Slug}}'})">{{category.Name}}</a></h3>
                    <ul>
                        <li ng-repeat="subCategory in category.SubCategories track by $index">
                            <a ui-sref="website.rating.member({categorySlug:'{{category.Slug}}', subCategorySlug:'{{subCategory.Slug}}', categoryName:'{{category.Name}}', subCategoryName:'{{subCategory.Name}}'})">{{subCategory.Name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-11 text-left all-categories" ng-if="models.categories.length > 12">
                <span class="font-bold" ng-click="functions.showAll()">לכל הסיווגים</span>
            </div>
        </div>
    </div>
</section>


