
.member-page {
    article {
        color: #337ab7;
    }

    .right-side {
        h1 {
            &:before {
                content: "";
                width: 10%;
                height: 2px;
                background-color: #337ab7;
                display: inline-block;
                position: relative;
                bottom: 0.7rem;
            }
        }

        .info {
            border-radius: 2rem;
            padding: 4% 0;

            .info-block {
                display: block;
                font-size: 2rem;

                label {
                    font-weight: bold;
                }
            }
        }

        .specialist {
            border-left: 2px solid #ebe9e9;

            h2 {
                text-decoration: underline;
            }

            a {
                display: block;
            }
        }

        .facebook {
            background: url(/content/images/facebook.png) no-repeat;
            background-size: contain;
            background-position-x: 100%;
            padding: 2% 0;

            a {
                padding-right: 20%;
                font-weight: 100;
            }
        }
    }

    .middle {
        img {
            width: 200px;
            height: 200px;
            border: 1px solid #337ab7;
            padding: 1%;
            border-radius: 50%;
        }

        .member-rating-sum {
            p {
                font-size: 3rem;

                span {
                    font-size: 5rem;
                }
            }
        }

        .member-info-sum {
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                width: 25%;
                float: right;
                border-left: 1px solid #ebe9e9;

                &:first-child {
                    border-right: 1px solid #ebe9e9;
                }

                label {
                    display: block;
                    text-decoration: underline;
                    font-weight: normal;
                    font-size: 1.5rem;
                }

                span {
                    font-size: 3rem;
                }
            }
        }

        .member-position p {
            color: #fff;
            background-color: #7092b0;
        }
    }

    .left-side {
        border-right:2px solid #ebe9e9;
        img{
            width:40px;
        }
        span {
            font-size: 3rem;
        }
    }
}




/* Large desktops and laptops */
@media (min-width: 1200px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}
