
<section class="container-fluid member-page">
    <article class="row">
        <div class="col-xl-2 right-side">
            <h1>{{models.business.Name}}</h1>
            <div class="info gray-bg">
                <div class="container-fluid">
                    <div class="info-block">
                        <label>הסמכה:</label>
                        <span></span>
                    </div>
                    <div class="info-block">
                        <label>מס' שנים בתחום:</label>
                        <span></span>
                    </div>
                    <div class="info-block">
                        <label>שעות פעילות:</label>
                        <br />
                        <span ng-bind-html="models.business.Hours"></span>
                    </div>
                    <div class="info-block">
                        <label>אזורי עבודה:</label>
                        <span></span>
                    </div>
                    <div class="info-block facebook">
                        <a href="#">{{models.business.Name}}</a>
                    </div>
                </div>
            </div>
            <div class="specialist text-center">
                <h2>תחומים</h2>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
                <a href="#"></a>
            </div>
        </div>
        <div class="col-xl-8 middle">
            <div class="row">
                <div class="col-xl-4">
                    <img alt="{{models.business.Name}}" ng-src="data:image/jpeg;base64,{{models.business.Avatar}}" />
                </div>
                <div class="col-xl-4 text-center">
                    <p ng-bind-html="models.business.About"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 gray-bg text-center center-block member-rating-sum">
                    <p>דירוג כללי <span class="">9.60</span> מתוך 50 חוות דעת</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 center-block">
                    <ul class="member-info-sum">
                        <li class="text-center">
                            <label>מקצועיות</label>
                            <span>10</span>
                        </li>
                        <li class="text-center">
                            <label>מחיר</label>
                            <span>10</span>
                        </li>
                        <li class="text-center">
                            <label>זמנים</label>
                            <span>10</span>
                        </li>
                        <li class="text-center">
                            <label>יחס</label>
                            <span>10</span>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 center-block member-position">
                    <p class="text-center">מיקום 3 מתוך 400 אינסטלטורים</p>
                </div>
            </div>
            <member-reviews></member-reviews>
        </div>
        <div class="col-xl-2 left-side">
            <div class="row text-center">
                <img src="/content/images/phone.png" alt="מספר טלפון" />
                <div ng-if="!models.user.isLoggedIn">
                    <span>להצגת טלפון<br /><strong>הירשם / התחבר</strong></span>
                </div>
                <div ng-if="models.user.isLoggedIn">
                    <span>התקשר ל{{models.business.Name}}<br /><strong>{{models.business.HomeNumber}}</strong></span>
                </div>

                
            </div>
        </div>
    </article>
</section>


