
<section class="quick-order-categories container-fluid">
    <div class="row clearfix">
        <div class="col-xs-12">
            <h2 class="font-bold">כל התקלות</h2>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xs-12 col-lg-11 col-md-11 col-sm-11">
            <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6 col-xl-3 col-xl-offset-1 category-holder" ng-repeat="category in models.categories track by $index">
                <div class="category" style="background-image: url(/content/images/cat/{{category.Image}});">
                    <h3 class="font-bold">{{category.Name}}</h3>
                    <ul>
                        <li ng-repeat="subCategory in category.SubCategories track by $index" ng-if="$index<5">
                            <a ui-sref="website.rating.member({categorySlug:'{{category.Slug}}', subCategorySlug:'{{subCategory.Slug}}', categoryName:'{{category.Name}}', subCategoryName:'{{subCategory.Name}}'})">{{subCategory.Name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


