
.banner-rating {
    background: url(/content/images/ratingBanner.png) no-repeat;
    background-size: 100% 100%;
    padding: 1% 0;

    img {
        width: 100%;
        margin-top: 2rem;
    }

    span {
        font-size: 4rem;
    }

    .col-xs-4 {
        span {
            display: block;
            color: #f2f1f1;
            font-size: 1.5rem;
            line-height: 3rem;

            &:first-of-type {
                margin-top: 1rem;
            }
        }
    }
}


/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1900px) {
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}
