.navbar {
  border-radius: 0 !important;
  padding: 0.7rem 0;
  background: #fff;
  margin-bottom: 0; }

.quickMenu img {
  width: 100%; }

.logo {
  width: 70%;
  margin-right: 15%;
  margin-top: 9%; }

.register, .login {
  text-indent: 36%; }

.login {
  background: url(../../content/images/login.png) no-repeat;
  background-position: 100% 0;
  background-size: contain; }

.register {
  background: url(../../content/images/register.png) no-repeat;
  background-position: 100% 0;
  background-size: contain; }

/*.register:after {
        content: "|";
        margin: 0 1rem;
    }*/
/*.logo
{
    width: 16rem;
    margin-top: 0.5rem;
}


.navbar
{
    min-height: 40px;
    margin: 0;
}



#navbar a
{
    color: #000;
}

.nav > li > a
{
    padding: 15px 10px !important;
    color: #000;
    z-index: 9;
}

    .nav > li > a:focus, .nav > li > a:hover
    {
        background-color: rgba(238, 238, 238, 0.28);
    }

.black-opacity
{
    background-color: rgba(0,0,0,0.5);
}

.white-opacity
{
    background-color: rgba(255, 255, 255, 0.44);
    margin: 0;
}

.brown-opacity
{
    background-color: rgba(255, 194, 119, 0.5);
}



.signInBTN
{
    background: transparent url('../../content/images/signin.png') no-repeat;
    box-shadow: none;
    border: none;
    color: #000;
    border-radius: 2px;
    background-size: contain;
    background-position: 100% 0%;
    text-indent: 2.5rem;
}



.registerBTN
{
    background: transparent url('../../content/images/register.png') no-repeat;
    box-shadow: none;
    border: none;
    color: #000;
    border-radius: 2px;
    background-size: contain;
    background-position: 100% 0%;
    text-indent: 2.5rem;
}


.login-buttons
{
    padding: 15px 10px 0 0 !important;
    text-align: left;
}

    .login-buttons button:not(:first-child)
    {
        margin-right: 2rem;
    }


.menuBg
{
    background-color: #fff;
}

.grayBG
{
    background-color: #f5f5f5;
}

.quickMenu
{
    margin-top: 1.5rem;
}

    .quickMenu p
    {
        margin-left: 0.5rem;
    }

    .quickMenu img
    {
        width: 100%;
        margin-left: 0.5rem;
    }

.quicknav
{
    padding: 0;
}

.navbar-nav
{
    position: relative;
    right: 19rem;
}

.navbar-brand
{
    float: right;
    padding: 0;
}*/

