
<section class="quick-order-categories container-fluid">
    <div class="row clearfix">
        <div class="col-xs-12">
            <h1 class="font-bold">תקלות נפוצות</h1>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-xs-12 col-lg-11 col-md-11 col-sm-11">
            <div class="col-xs-12 col-lg-6 col-md-6 col-sm-6 col-xl-4 category-holder" ng-repeat="category in models.categories track by $index" ng-class="{'hide-all': $index>11}">
                <div class="category">
                    <h3 class="font-bold">
                        <a ui-sref="website.rating.memberByCategory({categorySlug:'{{category.Slug}}'})">
                            <img src="/content/images/cat/icons/{{category.Icon}}" />
                            <label>{{category.Name}}</label>
                        </a>
                    </h3>
                    <ul>
                        <li ng-repeat="subCategory in category.SubCategories track by $index" ng-if="$index<5">
                            <a ui-sref="website.quickOrder.getPrice({categorySlug:'{{category.Slug}}', subCategorySlug:'{{subCategory.Slug}}', categoryName:'{{category.Name}}', subCategoryName:'{{subCategory.Name}}'})">{{subCategory.Name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>




