
.for-home {
    .row {
        &.vip-page-header {
            background-image: url(/content/images/private.jpg);
        }
    }

    .page-image {
        &:after {
            content: "";
            width: 150px;
            height: 3px;
            background: #6f81a9;
            display: inline-block;
            position: absolute;
            right: 0;
            top: 13rem;
        }
    }

    h1 {
        color: #6f81a9;

        > span {
            display: block;

            &:last-of-type {
                margin-right: 16%;
            }
        }
    }

    .gold {
        background-image: url(/content/images/goldpro.png);
    }

    .regular {
        background-image: url(/content/images/regularpro.png);
    }

    .vip {
        background-image: url(/content/images/vippro.png);
    }

    .gold, .regular, .vip {
        background-size: 100%;
        background-repeat: no-repeat;
        height: 18rem;
        margin-bottom: 5%;
        padding-top: 6rem;
        padding-bottom: 3rem;

        ul {
            list-style: none;
            padding: 0;

            li {
                color: #337ab7;
                display: inline-block;

                &:after {
                    content: ', ';
                }
            }
        }
    }

    .service {
        margin-bottom: 5%;

        &:first-of-type h3 {
            background-image: url(/content/images/private-home/caricon.png);
            background-position: 1% 100%;
        }

        &:nth-of-type(2) h3 {
            background-image: url(/content/images/private-home/fixicon.png);
            background-position: 11% 100%;
            background-size: 13% 100%;
        }

        &:nth-of-type(3) h3 {
            background-image: url(/content/images/private-home/joyicon.png);
            background-position: 29% 100%;
        }

        &:nth-of-type(4) h3 {
            background-image: url(/content/images/private-home/animalicon.png);
            background-position: 29% 100%;
        }

        &:last-of-type h3 {
            background-image: url(/content/images/private-home/deliveryicon.png);
            background-position: 15% 100%;
        }

        h3 {
            font-size: 3rem;
            background-repeat: no-repeat;
            background-size: contain;

            & + ul {
                list-style: none;
                padding: 0;

                li {
                    color: #337ab7;
                }
            }
        }
    }

    .form-holder {
        background-color: #ebe9e9;
        padding: 1%;
        border-radius: 2rem;
        margin: 2% 0 5%;

        .plan-form {
            .form-group {
                label {
                    display: block;
                }

                &:not(:first-child) {
                    margin-right: 3%;
                }

                &:last-of-type {
                    margin-top: 2rem;
                }
            }
        }
    }

    .grayscale {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        opacity: 0.5;

        &:hover {
            -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
            opacity: 1;
        }
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width:1600px) {
    .for-home {

        .page-image {
            &:after {
                width: 22px;
            }
        }
    }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
}
